//nav

.nav{
    width: 296px;
    min-width: 296px;
    height: 100%;
    background-color: $secondary;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    .logo{
        height: 40px;
        margin-bottom: 32px;
    }
    .navul{
        margin-bottom: $spacer*18;
    }
    .navli{
        font-family: $firstfont;
        font-weight: $font-weight-bold;
        font-size: $font-size-base;
        line-height: $line-height-base;
        margin-bottom: $spacer*1.8125;
        .navimg{
            margin-right: $spacer*1.125;
        }

    }
    .navlink{
        color: #000000;
    }
    .link-hover-color{
        color: $link-hover-color;
    }
    .userhead{
        width: 40px;
        height: 40px;
    }
    .username{
        font-size: $font-size-base;
        color: #121212;
    }
    .useremail{
        font-size: 0.875rem;
    }
}
